
# Part numbers = xc3s500epqg208

#NET "clk50" PERIOD 20000 ps | LOC="P80" | IOSTANDARD = LVCMOS33;

## FPGA pin constraints

## FPGA Interface
NET "HS_SS"      	LOC="P45"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET "HS_SCLK"    	LOC="P103" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET "HS_MOSI"    	LOC="P87"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST | PULLUP;
NET "HS_MISO"   	LOC="P61"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST | PULLUP;
NET "HS_RW"      	LOC="P56"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | PULLUP;
NET "HS_VD"      	LOC="P60"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | PULLUP;

## Serials

#NET "USBRX"		 LOC="P94"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;          # USB_RX
#NET "USBTX"       LOC="P93"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 		 # USB_TX
#NET "ESPRX"       LOC="P62"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;          # ESP_RX
#NET "ESPTX"       LOC="P63"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST | PULLUP; # ESP_TX

## LEDs
NET "LEDS<0>" LOC="P197"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
NET "LEDS<1>" LOC="P196"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
NET "LEDS<2>" LOC="P193"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
NET "LEDS<3>" LOC="P192"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<4>" LOC="P190"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<5>" LOC="P189"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<6>" LOC="P186"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<7>" LOC="P185"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;

## DIP Switches
NET "SW1"   LOC="P203" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "SW2"   LOC="P202" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "SW3"   LOC="P200" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "SW4"   LOC="P199" | IOSTANDARD=LVCMOS33 | PULLUP;

## P1
#NET "P1(3)"      LOC="P50"  | IOSTANDARD=LVCMOS33;
#NET "P1(5)"      LOC="P49"  | IOSTANDARD=LVCMOS33;
#NET "P1(7)"      LOC="P48"  | IOSTANDARD=LVCMOS33;
#NET "P1(8)"      LOC="P47"  | IOSTANDARD=LVCMOS33;
#NET "P1(10)"    LOC="P42"   | IOSTANDARD=LVCMOS33;
#NET "P1(11)"     LOC="P41"  | IOSTANDARD=LVCMOS33;
#NET "P1(12)"     LOC="P40"  | IOSTANDARD=LVCMOS33;
#NET "P1(13)"     LOC="P39"  | IOSTANDARD=LVCMOS33;
#NET "P1(15)"     LOC="P36"  | IOSTANDARD=LVCMOS33;
#NET "P1(16)"     LOC="P35"  | IOSTANDARD=LVCMOS33;
#NET "P1(18)"     LOC="P34"  | IOSTANDARD=LVCMOS33;
#NET "P1(19)"    LOC="P33"   | IOSTANDARD=LVCMOS33;
#NET "P1(21)"     LOC="P31"  | IOSTANDARD=LVCMOS33;
#NET "P1(22)"     LOC="P30"  | IOSTANDARD=LVCMOS33;
#NET "P1(23)"     LOC="P29"  | IOSTANDARD=LVCMOS33;
#NET "P1(24)"     LOC="P28"  | IOSTANDARD=LVCMOS33;
#NET "P1(26)"     LOC="P25"  | IOSTANDARD=LVCMOS33;
#NET "P1(27)"     LOC="P24"  | IOSTANDARD=LVCMOS33;
#NET "P1(28)"     LOC="P23"  | IOSTANDARD=LVCMOS33;
#NET "P1(29)"     LOC="P22"  | IOSTANDARD=LVCMOS33;
#NET "P1(31)"     LOC="P19"  | IOSTANDARD=LVCMOS33;
#NET "P1(32)"     LOC="P18"  | IOSTANDARD=LVCMOS33;
#NET "P1(33)"     LOC="P16"  | IOSTANDARD=LVCMOS33;
#NET "P1(35)"     LOC="P15"  | IOSTANDARD=LVCMOS33;
#NET "P1(36)"     LOC="P12"  | IOSTANDARD=LVCMOS33;
#NET "P1(37)"     LOC="P11"  | IOSTANDARD=LVCMOS33;
#NET "P1(38)"     LOC="P9"   | IOSTANDARD=LVCMOS33;
#NET "P1(39)"    LOC="P8"    | IOSTANDARD=LVCMOS33;

## P2
#NET "P2(3)"      LOC="P153"  | IOSTANDARD=LVCMOS33;
#NET "P2(5)"      LOC="P152"  | IOSTANDARD=LVCMOS33;
#NET "P2(7)"     LOC="P150"  | IOSTANDARD=LVCMOS33;
#NET "P2(8)"      LOC="P151"  | IOSTANDARD=LVCMOS33;
#NET "P2(10)"     LOC="P147"  | IOSTANDARD=LVCMOS33;
#NET "P2(11)"     LOC="P146"  | IOSTANDARD=LVCMOS33;
#NET "P2(12)"    LOC="P145"  | IOSTANDARD=LVCMOS33;
#NET "P2(13)"     LOC="P144"  | IOSTANDARD=LVCMOS33;
#NET "P2(15)"     LOC="P139"  | IOSTANDARD=LVCMOS33;
#NET "P2(16)"     LOC="P140"  | IOSTANDARD=LVCMOS33;
#NET "P2(18)"     LOC="P138"  | IOSTANDARD=LVCMOS33;
#NET "P2(19)"    LOC="P137"  | IOSTANDARD=LVCMOS33;
#NET "P2(21)"     LOC="P133"  | IOSTANDARD=LVCMOS33;
#NET "P2(22)"     LOC="P132"  | IOSTANDARD=LVCMOS33;
#NET "P2(23)"     LOC="P129"  | IOSTANDARD=LVCMOS33;
#NET "P2(24)"     LOC="P128"  | IOSTANDARD=LVCMOS33;
#NET "P2(26)"     LOC="P127"  | IOSTANDARD=LVCMOS33;
#NET "P2(27)"     LOC="P126"  | IOSTANDARD=LVCMOS33;
#NET "P2(28)"     LOC="P123"  | IOSTANDARD=LVCMOS33;
#NET "P2(29)"     LOC="P122"  | IOSTANDARD=LVCMOS33;
#NET "P2(31)"     LOC="P120"  | IOSTANDARD=LVCMOS33;
#NET "P2(32)"     LOC="P119"  | IOSTANDARD=LVCMOS33;
#NET "P2(33)"     LOC="P116"  | IOSTANDARD=LVCMOS33;
#NET "P2(35)"     LOC="P115"  | IOSTANDARD=LVCMOS33;
#NET "P2(36)"     LOC="P113"  | IOSTANDARD=LVCMOS33;
#NET "P2(37)"     LOC="P112"  | IOSTANDARD=LVCMOS33;
#NET "P2(38)"     LOC="P109"  | IOSTANDARD=LVCMOS33;
#NET "P2(40)"     LOC="P108"  | IOSTANDARD=LVCMOS33;